{% extends "base.html" %}


{% block content %}
<div class="container" style="padding-top: 50px;">
    <h1 class="text-center">Peticiones</h1>
</div>


<div class="container text-center" style="padding-top: 100px;">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'petitions:messages' %}" class="btn btn-primary" type="button">
          Detalle de Mensajes</a>
        <a href="{% url 'services:messages' %}" class="btn btn-primary" type="button">
            Resumen de Pesos</a>
        <a href="{% url 'services:messages' %}" class="btn btn-primary" type="button">
            Prueba de Solicitudes </br> de creación de mensajes</a>
    </div>
</div>

{% endblock %}
