<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}Default Title{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}
        <!-- common CSS and JavaScript files here -->
    </head>
    <body>
        <!-- navbar code -->
        <div>
        <nav class="navbar navbar-dark navbar-expand-lg bg-body-tertiary bg-dark shadow-lg" dadta-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#">ChapinChat API</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown activate">
                            {% if current == "services" %}
                                <a class="nav-link dropdown-toggle" href="#" aria-current="true" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Servicios
                                </a>
                            {% else %}
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Servicios
                                </a>
                            {% endif %}
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'services:profiles' %}">Carga de Perfiles y</br> Palabras Descartadas</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'services:messages' %}">Carga de Mensajes</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            {% if current == "petitions" %}
                                <a class="nav-link active" aria-current="page" href="{% url 'services' %}">Peticiones</a>
                            {% else %}
                                <a class="nav-link" aria-current="page" href="{% url 'services:index' %}">Peticiones</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if current == "help" %}
                                <a class="nav-link active" aria-current="page" href="{% url 'services' %}">Ayuda</a>
                            {% else %}
                                <a class="nav-link" aria-current="page" href="{% url 'services:index' %}">Ayuda</a>
                            {% endif %}
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <button type="button" class="btn btn-danger" type="submit" onclick="confirmDelete()">Reset</button>
                    </form>
                </div>
            </div>
        </nav>
        </div>


        <!-- code to replace -->
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

<script>
function confirmDelete() {
    if (confirm("Seguro deseas borrar toda la base de datos?")) {
        // if the user confirms, perform the delete action
        deleteResource();
    }
}

function deleteResource() {
    // use fetch() to make a DELETE request to the API endpoint
    fetch('http://127.0.0.1:5000/api/reset', {
        method: 'DELETE',
        headers: {
            'X-CSRFToken': getCookie('csrftoken') // include CSRF token in header
        }
    })
    .then(response => {
        if (response.ok) {
            alert('Se ha resetado la base de datos!');
            // redirect to a success page or reload the current page
        } else {
            alert('No se ha podido borrar la base de datos');
        }
    })
    .catch(error => console.error(error));
}

// function to get the value of the CSRF cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


</script>

    </body>
</html>
